*{
    background-color: grey;
}
.corpo{
    padding-top: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.corpo p{
    font-style: bold;
    font-family: 'Arial Black';
    color: green;
}